.contact-container {
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* gap: 200px; */
}




.grid-container {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    Two columns
    grid-gap: 10px;
    Spacing between grid items */
    display:flex;
    flex-direction:column;
}


.contact-container .social-bar a i {
    color: #0097b2;
    /* Set icon color to black */
}

.contact-container .social-bar {
    margin: 0;
}

.contact-header{
    color:#0097b2;
}

