.footer {
    background-color: #000000;
    color: #fff;
    padding: 50px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-section {
    display: flex;
}

.left-section>div {
    margin-right: 50px;
    /* Add spacing between elements */
}



.left-section p {
    margin: 0;
    /* Remove default margin */
}

.footer-nav {
    display: flex;
    /*flex-direction: column;*/
    
}

.footer-nav a {
    color: #fff;
    /* Text color of the navigation links */
    margin: 0 25px;
    /* Add spacing between the links */
    text-decoration: none;
    cursor: pointer;
}



.footer-nav a.nav-link:hover {
    color: #0097b2;
}
